@model Project
@{
    ViewData["Title"] = "Project Details";
    
}

<h2>  Project Details</h2>

<div class="card">
    
    <div class="card-body">
        <h3 class="card-title">@Model.Name</h3>
        <p class="card-text">@Model.Description</p>
        
        <dl class="row">
            
            <dt class="col-sm-3">Project ID</dt>
            <dd class="col-sm-9">@Model.ProjectId</dd>
            
            <dt class="col-sm-3">Start Date</dt>
            <dd class-="col-sm-9">@Model.StartDate.ToShortDateString()</dd>


        </dl>
        
        <a asp-action="Edit" asp-route-id="@Model.ProjectId" class="btn btn-primary">Edit</a>
        <a asp-action="Index" class="btn btn-secondary">Back to List</a>
        
        
    </div>
</div>